---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/base-layout.astro";

const allPosts = await getCollection("posts");
const PAGE_TITLE = "blog";
---

<BaseLayout title={PAGE_TITLE}>
  <main class="max-w-screen-lg mx-auto p-6">
    <div class="pb-6">
      <h1>amit's blog</h1>
      <p>welcome to my area of the internet.</p>
    </div>

    <div class="">
      <ul>
        {
          allPosts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</BaseLayout>
