---
import BaseLayout from "../../layouts/base.layout.astro";
---

<BaseLayout>
  <main class="max-w-screen-xl mx-auto p-6">
    <div class="pb-6">
      <h1>yash's blog</h1>
      <p>welcome to my area of the internet.</p>
    </div>

    <div class="">
      <a href="/blog/post1">post1</a>
    </div>
  </main>
</BaseLayout>
