---
import BaseLayout from "../layouts/base-layout.astro";
import "../styles/global.css";
---

<BaseLayout>
  <main class="max-w-screen-xl mx-auto m-6">
    <h1 class="text-5xl font-semibold">hello world</h1>
  </main>
</BaseLayout>
