---
import { Image } from "astro:assets";

import IconLink from "./homepage-header-icon.astro";

import LinkedInIcon from "../icons/linked-icon.astro";
import XIcon from "../icons/x-icon.astro";
import GithubIcon from "../icons/github-icon.astro";

const USER_NAME = "Amit Prakash";
const headline = "Backend Development Expert | Crafting Robust & Scalable Solutions.";
---

<div>
  <div class="pt-8 sm:pt-16 pb-4">
    <div class="flex w-full">
      <div>
        <div class="pb-4">
          <h1 class="text-neutral-50 text-3xl sm:text-4xl pb-1 font-semibold">
            {USER_NAME}
          </h1>
          <p class="text-neutral-400 text-lg sm:text-xl font-light">
            Software Engineer
          </p>
        </div>

        <div class="flex items-center gap-3">
          <IconLink
            alt="Amit Prakash's LinkedIn profile link"
            href="https://www.linkedin.com/in/dev-amit-prakash/"
          >
            <LinkedInIcon />
          </IconLink>

          <IconLink
            alt="Amit Prakash's GitHub profile link"
            href="https://github.com/iamitprakash"
          >
            <GithubIcon />
          </IconLink>

          <IconLink
            alt="Amit Prakash's Twitter profile link"
            href="https://twitter.com/twts_tejas"
          >
            <XIcon />
          </IconLink>
        </div>
      </div>

      <div class="w-28 h-28 rounded-lg overflow-hidden ml-auto">
        <Image
          src="/profile.png"
          alt={""}
          width={300}
          height={300}
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>

  <p class="text-neutral-500 text-xl sm:text-2xl pt-10 sm:pt-12">
    <span class="text-neutral-100 font-medium">{headline}</span>
    <span>
      As a software professional with over 7 years of experience, I specialize in client/server-tier architecture, web applications, object-oriented programming, analysis and design, and project management methodologies. I have a strong background in system design, analysis, implementation, development, and maintenance of business applications using .NET, C#, Windows services, REST API, and WCF services. My experience with Microsoft .NET frameworks, MVC, and MVVM has allowed me to work with divergent technologies and leverage Angular JS and Angular 14 to create single-page applications (SPA).

In addition to my technical expertise, I am proficient in SQL, data querying, and developing applications leveraging ADO.NET, LINQ to SQL, and Entity Framework. I have experience working with reporting tools like Crystal Reports, Telerik Reports, and PowerBI. My technical skills include languages such as C#, Go Programming, VB.NET, and SQL, as well as cloud technologies like Azure and databases such as MS SQL, Mongo DB, and MySQL.

I am experienced in source control using Azure DevOps, TFS, SVN, and Git and have proficiency in scripting languages like JavaScript, UNIX shell scripting, batch file scripting, jQuery, and TypeScript. My preferred environments for development include Microsoft Visual Studio, VS Code, Postman, and Swagger, and I am skilled in frameworks like WCF (Windows Communication Foundation) and gRPC.

With a strong foundation in software development, I am passionate about exploring new technologies and collaborating with like-minded professionals to drive innovation and growth.

If you are interested in learning more about my experience and how we can work together to achieve your organisation's goals, please don't hesitate to reach out to me. I am always open to discussing opportunities and networking with professionals in the industry.
    </span>
  </p>
</div>
