---
import { Image } from "astro:assets";

import IconLink from "./homepage-header-icon.astro";

import LinkedInIcon from "../icons/linked-icon.astro";
import XIcon from "../icons/x-icon.astro";
import GithubIcon from "../icons/github-icon.astro";

const USER_NAME = "Amit Prakash";
const headline = "Backend Development Expert | Crafting Robust & Scalable Solutions.";
---

<div>
  <div class="pt-8 sm:pt-16 pb-4">
    <div class="flex w-full">
      <div>
        <div class="pb-4">
          <h1 class="text-neutral-50 text-3xl sm:text-4xl pb-1 font-semibold">
            {USER_NAME}
          </h1>
          <p class="text-neutral-400 text-lg sm:text-xl font-light">
            Engineering @ The Boeing Company 🛫 <br/>
          <p style="color:orange; font-size:15px" > (Decoding the Enigma💡)</p>
          </p>
        </div>

        <div class="flex items-center gap-3">
          <IconLink
            alt="Amit Prakash's LinkedIn profile link"
            href="https://www.linkedin.com/in/dev-amit-prakash/"
          >
            <LinkedInIcon />
          </IconLink>

          <IconLink
            alt="Amit Prakash's GitHub profile link"
            href="https://github.com/iamitprakash"
          >
            <GithubIcon />
          </IconLink>

          <IconLink
            alt="Amit Prakash's Twitter profile link"
            href="https://twitter.com/twts_tejas"
          >
            <XIcon />
          </IconLink>
        </div>
      </div>

      <div class="w-28 h-28 rounded-lg overflow-hidden ml-auto">
        <Image
          src="/profile.png"
          alt={""}
          width={300}
          height={300}
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>

  <p class="text-neutral-500 text-xl sm:text-2xl pt-10 sm:pt-12">
    <span class="text-neutral-100 font-medium">{headline}</span>
    <span>
     With over 8+ years in software development, I specialize in client/server architecture, .NET, C#, REST API, Go and WCF services. Skilled in Angular JS, SQL, and diverse technologies, I excel in system design, development, and maintenance. Proficient in Azure, various databases, and scripting languages, I am passionate about innovation and collaboration in technology.
    </span>
  </p>
</div>
