---
import { ViewTransitions } from "astro:transitions";

import Navbar from "../components/header.astro";
import "../styles/global.css";

type Props = {
  title?: string;
};

const USER = "amit prakash";
const { title } = Astro.props;

const pageTitle = title ? `${title} - ${USER}` : USER;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="icon" type="image/x-icon" href="/profile.png">
    <ViewTransitions />
  </head>

  <body class="bg-[rgb(18,18,18)]">
    <main class="max-w-[700px] px-4 mx-auto">
      <Navbar />
      <slot />
    </main>
  </body>
</html>
